<app-header></app-header>
<div class="recipe-container" *ngIf="recipes && recipes.length > 0; else noRecipes">
  <div *ngFor="let recipe of recipes" class="recipe-card">
    <img 
      [src]="recipe.image" 
      [alt]="recipe.title"
      (error)="handleImageError(recipe)"
      class="recipe-image"
    >

    <div class="recipe-content">
      <h3 class="recipe-title">{{ recipe.title }}</h3>

      <div *ngIf="recipe.ingredients?.length" class="ingredients-list">
        <h4>Ingredients:</h4>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient }}
          </li>
        </ul>
      </div>

      <button (click)="addToMyList(recipe)" class="save-button">
        💾 Save Recipe
      </button>
    </div>
  </div>
</div>

<ng-template #noRecipes>
  <div class="no-recipes">
    <p>No recipes found. Try capturing your fridge again! 🧊</p>
  </div>
</ng-template>
<app-footer></app-footer>